@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  & div {
    border: 8px solid #acaebc;
    border-top: 8px $blue solid;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    animation: spin 2s linear infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
