@import '../../styles/mixins.scss';

.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  @include lg-desktop {
    align-items: flex-start;
    padding: 1rem 9rem 0 12rem;
  }
}
