@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.breadCrumb {
  width: 100%;
  font-size: 16px;
  display: inline-block;
  color: $dark-grey;
  font-size: 8px;
  word-break: break-all;
  width: fit-content;
  @include lg-desktop {
    font-size: 18px;
    align-self: flex-start;
  }
}
