@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.container {
  padding: 4rem 0;
  word-break: break-all;
  width: 100%;
  height: max-content;
  background: $background;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  @include lg-desktop {
    justify-content: flex-start;
    //height: fit-content;
  }
}
